
@charset "UTF-8";


body {
    background-color:aqua; 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    background-color:blue;
    color:lawngreen ;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: rgb(255, 0, 0);
}
p {
    text-align: justify;
    font-style: italic;
}